.box{
    margin: 16px auto;
    padding: 18px 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    max-width: 900px;
    line-height: 1.5;
    border: 5px solid black;
}

.para{
    padding: 20px 15px;
    font-size: 20px;
    text-align: center;
    background-color: yellow;
    border: 20px solid rgb(0, 98, 255);
}
h1{
    margin-top : 10px;
}